#root {
  font-family: "Arial", "メイリオ";
  font-size: 28px;
  padding: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

p { 
  margin: 0;
}

.username {
  color: #fff;
  margin: 3px 0 0 15px;
}

.username-text {
  padding: 0 8px;
  border-radius: 4px;
  color: #fff;
}

.username-separator {
  margin: 0 6px;
  color: black;
}

.icon-container img {
  width: 48px;
  border-radius: 100%;
}

.comment-text {
  margin: 0 0 0 10px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
               #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
}

.comment-no {
  margin-left: 14px;
  text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
               #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
}